.user-container{
    height: 250px;
    width: 400px;
    background: #31b0d5;
    border: #7a43b6;
    margin: 15px;
    padding: 15px;
}

.user-picture{
    float: left;
    display: inline;
}

img{
    width: 200px;
    heigt: 200px;
}

.user-info{
    display: inline;
    float:left;
}